<%= @restaurants.each do |restaurant| %>
  <h2><%= restaurant.name %></h2>
  <p><%= restaurant.adress %></p>
  <p><%= "*" * restaurant.stars %></p>
  <%= link_to "Allez voir", restaurant_path(restaurant) %>
<% end %>
