<h1>Les restaurants</h1>

<%= link_to "Add a new restaurant", new_restaurant_path %>

<%= @restaurants.each do |restaurant| %>
  <h2><%= restaurant.name %></h2>
  <p><%= restaurant.adress %></p>
  <p><%= "*" * restaurant.stars %></p>
  <%= link_to "Allez voir", restaurant_path(restaurant) %>
  <%= link_to "delete", restaurant_path(restaurant), method: :delete %>
  <%= link_to "update", restaurant_path(restaurant), method: :update %>
<% end %>
